<ion-header >
    <ion-navbar color="primary">
        <ion-item color="primary" (click)="navToInfoContatto()">
            <ion-avatar item-left>
                <img  src="assets/img/avatar-ts-woody.png">
            </ion-avatar>
            <h2>Marty McFly</h2>
        </ion-item>
        <ion-buttons right>
            <button ion-button icon-only color="royal" (click)="presentPopoverAttach($event)">
                <ion-icon name="attach"></ion-icon>
            </button>
            <button ion-button icon-only color="royal" (click)="presentPopoverMore($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="chat-background-image">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="message message-left">
                    <div class="message-content">
                        <div class="person-name">Woody</div>
                        <ion-range [(ngModel)]="brightness">
                            <ion-icon range-left name="play" (click)="play()"></ion-icon>
                        </ion-range>
                    </div>
                    <ion-note  >3:43 pm</ion-note>
                </div>
            </ion-col>
        </ion-row>
        <ion-row  *ngFor="let message of messages">
            <ion-col *ngIf="message.type != 'audio'">
                <div class="message message-right" >
                    <div class="message-content" >
                        <div class="person-name">{{ message.sender }}</div>
                        <p  > {{ message.body }}</p>
                    </div>
                    <ion-note  >{{ message.created_at }}</ion-note>
                </div>
            </ion-col>
            <ion-col *ngIf="message.type == 'audio'">
                <div class="message message-left">
                    <div class="message-content">
                        <div class="person-name">{{ message.sender }}</div>
<!--                        <ion-range [(ngModel)]="message.media.seek">
                            <ion-icon range-left name="play" (click)="play(message)"></ion-icon>
                        </ion-range>-->
                        <audiocomponent [voice]="message.media" ></audiocomponent>
                    </div>
                    <ion-note  >{{ message.created_at }}</ion-note>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer no-border>
    <ion-toolbar>
        <!--<div >-->
        <div class="fixed-bottom">
            <div >
                <ion-list>
                    <ion-item class="ion-item-input">
                        <ion-icon name="happy" item-left color="primary" ></ion-icon>
                        <textarea [(ngModel)]="message" fz-elastic rows="1" placeholder="Scrivi un messaggio"></textarea>
                        <ion-icon name="arrow-forward" item-right color="primary" (click)="send()"></ion-icon>
                    </ion-item>
                    <ion-item  class="ion-item-mic" (touchstart)="recordigStart()" (touchend)="recordigEnd()">
                        <ion-icon name="mic"  item-right color="light"></ion-icon>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>