page-home {

    .list-avatar-page {
        ion-note {
            font-size: 14px;
            position: absolute;
            right: 5px;
            bottom: 6px;
        }
    }

    .item-md ion-avatar{
        img{
            border-radius: 25%;
        }
    }

    ion-item{
        ion-badge{
            position: absolute;
            right: 15px;
            top: 50%;
        }
        
        p{
            max-width: 85%;
        }
    }
}
