<ion-header >
    <ion-navbar color="primary">
        <!--    <ion-navbar color="secondary">-->
        <ion-title>QUICKCHAT</ion-title>
        <ion-buttons right>
<!--            <button ion-button icon-only color="royal">
                <ion-icon name="notifications-off"></ion-icon>
            </button>-->
            <button ion-button icon-only color="royal" (click)="toSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only color="royal" (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    <ion-list>
        
        
        <ion-item (click)="toChat(chat)" *ngFor="let chat of chats" >
            <ion-avatar item-start>
                <img [src]="chat.getAvatar().small">
            </ion-avatar>
            <h2>{{chat.getName()}}</h2>
            
            <p *ngIf="chat.messages.length > 0">{{chat.messages[chat.messages.length-1].text}}</p>
            <ion-note *ngIf="chat.messages.length" item-end>{{chat.messages[chat.messages.length-1].getDate()}}</ion-note>
        </ion-item>

    </ion-list>

    <ion-fab bottom right >
        <button ion-fab (click)="addChat()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>